.exercise {
  .exercise-header {

  }
  .exercise-content {
    textarea {
      resize: none;
      font-size: 18px;
      font-family: "Roboto", monospace;
      padding: 10px;
      line-height: 150%;
    }
  }
  .exercise-footer {

  }
}
