<div class="exercise">
  <div class="exercise-header">
    <h2>Setze die Kommas.</h2>
    <h3>Frage {{currentTaskIdx + 1}} von {{tasks.length}}</h3>
  </div>
  <div class="exercise-content">
    <span
      *ngFor="let char of chars; let i = index"
      #charSpan
      (click)="onCharClick(charSpan, i)"
      (mouseover)="onCharMouseOver(charSpan, i)"
      (mouseleave)="onCharMouseLeave(charSpan, i)"
      [ngClass]="{'charHover' : i === hoverCharIndex}"
    >{{char}}</span>
  </div>
  <div class="exercise-footer">
    <div class="exercise-hint">
      <p>Du hast alle Kommas richtig gesetzt</p>
    </div>
    <button mat-flat-button color="primary" (click)="check()">{{primaryButtonText}}</button>
  </div>
</div>
